@include font-face('chargelab-font', 'chargelab', 'assets/fonts/chargelab/chargelab-font', 400, normal);

/*
chargelab-icon
powered by http://app.fontastic.me/
*/

.ch-icon {
    display: inline-block;
    vertical-align: text-bottom;
    font: normal normal normal 14px/1 "chargelab-font";
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    speak: none;
    text-transform: none;
}

.ch-icon-facebook-circled:before {
  content: "\61";
}
.ch-icon-arrow-up-c:before {
  content: "\62";
}
.ch-icon-star:before {
  content: "\63";
}
.ch-icon-browser:before {
  content: "\65";
}
.ch-icon-battery-half:before {
  content: "\64";
}
.ch-icon-ecommerce-cart:before {
  content: "\66";
}
.ch-icon-ecommerce-graph-increase:before {
  content: "\67";
}
.ch-icon-ecommerce-banknotes:before {
  content: "\68";
}
.ch-icon-basic-book-pen:before {
  content: "\69";
}
.ch-icon-right-open-big:before {
  content: "\6a";
}
.ch-icon-right-thin:before {
  content: "\6b";
}

.ch-icon-rotate-this-180 {
  transform: rotate(180deg);
} 