.demo {
  position: relative;
  display: flex;
  min-height: 40rem;
  background: url(assets/img/welcome.jpg') no-repeat center center;
  background-size: cover;
  align-items: center;
  text-align: center;
}