.gallery {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  padding: 0;

	@include media-breakpoint-down(xs) {
      padding-top: 4rem;
	}

  &__item {
    background: $color_white;
    position: relative;
    flex: 0 0 25%;
    height: 25rem;
    z-index: 1;
    transition: all .3s;

    @include media-breakpoint-down(md) {
      flex: 0 0 50%;
    }

    @include media-breakpoint-down(sm) {
      flex: 0 0 100%;
    }

    &:hover {
      position: relative;
      z-index: 2;
      transform: scale(1.04);
      box-shadow: 0 2px 20px 2px rgba(0,0,0,.45);
    }
  }

  &__image {
    display: block;
    width: 100%;
    height: 100%;
  }
}

// https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css
.owl-carousel .owl-wrapper:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0}.owl-carousel{display:none;position:relative;width:100%;-ms-touch-action:pan-y}.owl-carousel .owl-wrapper{display:none;position:relative;-webkit-transform:translate3d(0,0,0)}.owl-carousel .owl-wrapper-outer{overflow:hidden;position:relative;width:100%}.owl-carousel .owl-wrapper-outer.autoHeight{-webkit-transition:height 500ms ease-in-out;-moz-transition:height 500ms ease-in-out;-ms-transition:height 500ms ease-in-out;-o-transition:height 500ms ease-in-out;transition:height 500ms ease-in-out}.owl-carousel .owl-item{float:left}.owl-controls .owl-page,.owl-controls .owl-buttons div{cursor:pointer}.owl-controls{-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-tap-highlight-color:rgba(0,0,0,0)}.grabbing{cursor:url(grabbing.png) 8 8,move}.owl-carousel .owl-wrapper,.owl-carousel .owl-item{-webkit-backface-visibility:hidden;-moz-backface-visibility:hidden;-ms-backface-visibility:hidden;-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0)}

// http://codepen.io/borozky/pen/JYGdgM
.vcenter-parent {
		display: table;
		height: 100%;
		width: 100%;
}

.vcenter-parent .vcenter {
		display: table-cell;
		vertical-align: middle;
}

.owl-carousel-lightbox {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		z-index: 9999;
		opacity: 0;
		transition: opacity 0.3s;
}

.owl-carousel-lightbox.open {
		display: block;
		position: fixed;
		opacity: 1;
}

.owl-carousel-lightbox .lightbox-controls {
		color: $primary_color;
		position: absolute;
		top: 0;
		right: 2rem;
		text-align: right;
}

#close {
		color: $color_white;
		text-decoration: none;
		font-size: 6rem;
		padding-left: 2rem;
		padding-right: 2rem;
		text-align: center;
		display: inline-block;
		cursor: pointer;
		position: relative;
		z-index: 2;
		background: $primary_color;
		transition: padding .3s;

		&:hover {
			padding-top: 1rem;
		}
}

.bg-layer {
		position: absolute;
		top: 0;
		right: 0;
		width: 100%;
		height: 100%;
		background-color: $bgcolor;
		opacity: 1;
}

.slides {
		height: 100%;
		cursor: url(https://maps.gstatic.com/mapfiles/openhand_8_8.cur), auto !important;
}

.slides .owl-wrapper-outer,
.slides .owl-wrapper,
.slides .owl-item {
		height: 100%;
}

.slides .slide {
		width: 100%;
		height: 100%;
		text-align: center;
}

.slides .slide .slide-content {
		display: inline-block;
}

.slides .slide img {
		max-width: 100%;
		max-height: 100%;
		display: inline-block;
}

/* OWL Buttons */

.owl-controls {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1;

	.owl-buttons {
		display: table;
		width: 100%;
		height: 100%;
	}

	.owl-prev, .owl-next {
		display: table-cell;
		float: none;
		vertical-align: middle;
		font-size: 5rem;
		padding: 2rem;
		transition: background .3s;

		&:hover {
			//color: $secondary_color;
			background: rgba($primary_color, 0.31)
		}
	}

	.owl-next {
		text-align: right;
	}
}

/* OWL Pagination */

.owl-pagination {
		position: absolute;
    bottom: 0;
    width: 100%;
		margin: 0 auto;
    text-align: center;
}

.owl-page {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	border-radius: 50%;
	background: $primary_color;
	margin: 0 .5rem;

	&.active {
		background: $secondary_color;
	}
}


/* OWL Сentered */


.owl-centered .owl-wrapper {
  display: table !important;
}
.owl-centered .owl-item {
  display: table-cell;
  float: none;
  vertical-align: middle;
}
.owl-centered .owl-item > div {
  text-align: center;
}