.product {
  
  .sc--product {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  &__title {
    font-size: 4rem;
  }

  &__tags {
    font-size: 1.7rem;
    border-top: 1px solid #ebeaea;
    padding-top: 1rem;
    margin-top: 1rem;
  }

  &__descr {
    font-size: 2rem;
  }

  .js-show-more {
    text-align: center;
  }

  .js-show-more-block {
    text-align: left;
  }
}


@include media-breakpoint-down(sm) {

  .product__col-img {
    order: 1; 
    width: 70%;
    margin: auto;
  }

  .product__col-desc {
    order: 0;
  }
}

@include media-breakpoint-down(xs) {

  .product__col-img {
    width: 80%;
  }
}