<section class="sc sc--about about">
  <div class="container">
    <h2 class="sc__heading sc__heading--cprimary">Зарядные станции ChargeLab</h2>
    <div class="sc__block-c">
      <p>Ваши клиенты испытывают трудности: разрядился PowerBank, 
        нет рядом розетки или подходящей зарядки.</p>
      <p>Мы решаем эту проблему - универсальное и безопасное зарядное устройство для 
        мобильного телефона у Вас в заведении.</p>
      <p><strong>Простая услуга - зарядка мобильного телефона для Ваших клиентов</strong></p>
    </div>
  </div>
</section>