<section id="describe" class="sc sc--describe describe">
  <div class="container">
    <h2 class="sc__heading">Для кого это</h2>
    <ul class="describe__list flex-list flex-list--4">
      <li class="flex-list__item">HoReCa</li>
      <li class="flex-list__item">Автосалон</li>
      <li class="flex-list__item">Коворкинг</li>
      <li class="flex-list__item">Выставка</li>
      <li class="flex-list__item">Торговый центр</li>
      <li class="flex-list__item">Салон красоты</li>
      <li class="flex-list__item">Медицинский центр</li>
      <li class="flex-list__item">Фитнес-центр</li>
    </ul>
  </div>
</section>