<section id="employment" class="sc sc--employment employment">
  <div class="container">
    <h2 class="sc__heading">Как работает ChargeLab</h2>
    <ul class="flex-list-num">
      <li class="flex-list-num__item">
        <p class="flex-list__p">
          <span class="num num--rel num--circle">1</span>
          <span class="flex-list__t">Связываетесь с менеджером. Позвоните или заполните форму заявки на сайте</span>
        </p>
      </li>
      <li class="flex-list-num__item">
        <p class="flex-list__p">
          <span class="num num--rel num--circle">2</span>
          <span class="flex-list__t">Обговариваете с менеджером детали и договариваетесь о встрече</span>
        </p>
      </li>
      <li class="flex-list-num__item">
        <p class="flex-list__p">
          <span class="num num--rel num--circle">3</span>
          <span class="flex-list__t">Выбираете зарядную станцию, которая подходит именно Вашему заведению</span>
        </p>
      </li>
      <li class="flex-list-num__item">
        <p class="flex-list__p">
          <span class="num num--rel num--circle">4</span>
          <span class="flex-list__t">Монтаж устройства. Инструктаж персонала.</span>
        </p>
      </li>
      <li class="flex-list-num__item">
        <p class="flex-list__p">
          <span class="num num--rel num--circle">5</span>
          <span class="flex-list__t">Ваши довольные клиенты говорят Вам "СПАСИБО"</span>
        </p>
      </li>
    </ul>
  </div>
</section>