<section id="employment" class="sc sc--employment employment">
  <div class="container">
    <h2 class="sc__heading">Как работает ChargeLab</h2>
    <ul class="history-list">
      <li class="history-list__item"><span class="num num--circle">1</span>Связываетесь с менеджером. Позвоните или заполните форму заявки на сайте</li>
      <li class="history-list__item"><span class="num num--circle">2</span>Обговариваете с менеджером детали и договариваетесь о встрече</li>
      <li class="history-list__item"><span class="num num--circle">3</span>Выбираете зарядную станцию, которая подходит именно Вашему заведению</li>
      <li class="history-list__item"><span class="num num--circle">4</span>Монтаж устройства. Инструктаж персонала.</li>
      <li class="history-list__item"><span class="num num--circle">5</span>Ваши довольные клиенты говорят Вам "СПАСИБО"</li>
    </ul>
  </div>
</section>