<section id="faq" class="sc sc--faq faq">
  <div class="container">
    <h2 class="sc__heading">FAQ</h2>
    <ul class="faq__flex-list flex-list flex-list--left flex-list--2">
      <li class="flex-list__item">
        <p class="strong">Какие модели телефонов заряжает устройство ChargeLab?</p>
        <p>Зарядные устройства ChargeLab подходят для зарядки большинства смартфонов и планшетов: Apple, Samsung, HTC, LG, Lenovo
          и другие</p>
      </li>
      <li class="flex-list__item">
        <p class="strong">Насколько зарядные устройства ChargeLab антивандальные?</p>
        <p>Зарядные устройства ChargeLab работают только с оригинальной базой и бесполезны в домашних условиях</p>
      </li>
      <li class="flex-list__item">
        <p class="strong">Какую выгоду получаю установив зарядную станцию в заведении?</p>
        <p>Зарядные устройства ChargeLab повышают лояльность клиентов и средний чек в заведении. WOW-эффект создает приятное впечатление</p>
      </li>
      <li class="flex-list__item">
        <p class="strong">Какие могут быть дополнительные затраты?</p>
        <p>Никаких. На каждое устройство действует гарантия 12 месяцев и послепродажное обслуживание</p>
      </li>
      <li class="flex-list__item">
        <p class="strong">Не будет ли проблем с телефонами клиентов?</p>
        <p>Зарядная станция ChargeLab укомплектована сертифицированными проводами, что гарантирует безопасность работы оборудования</p>
      </li>
      <li class="flex-list__item">
        <p class="strong">Простое ли пользование станциями ChargeLab?</p>
        <p>Все станции простые в использовании и содержат подробную инструкцию пользователя. При доставке товара наш персонал дополнительно консультирует Вас</p>
      </li>
      
    </ul>
  </div>
</section>