<div id="gallery" class="sc sc--gallery gallery">

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="assets/img/products/Alphaf5.jpg" data-original="assets/img/products/Alphaf5.jpg" style="background: url(&quotassets/img/products/Alphaf5.jpg&quot;) center center / contain no-repeat;"></div>
    <meta itemprop="image" content="assets/img/products/Alphaf5.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="assets/img/products/ray.jpg" data-original="assets/img/products/ray.jpg" style="background: url(&quotassets/img/products/ray.jpg&quot;) center center / contain no-repeat;"></div>
    <meta itemprop="image" content="assets/img/products/ray.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="assets/img/products/fix.jpg" data-original="assets/img/products/fix.jpg" style="background: url(&quotassets/img/products/fix.jpg&quot;) center center / contain no-repeat;"></div>
    <meta itemprop="image" content="assets/img/products/fix.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="assets/img/products/plasma.jpg" data-original="assets/img/products/plasma.jpg" style="background: url(&quotassets/img/products/plasma.jpg&quot;) center center / contain no-repeat;"></div>
    <meta itemprop="image" content="assets/img/products/plasma.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="assets/img/products/safe.jpg" data-original="assets/img/products/safe.jpg" style="background: url(&quotassets/img/products/safe.jpg&quot;) center center / contain no-repeat;"></div>
    <meta itemprop="image" content="assets/img/products/safe.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="assets/img/products/sunrise.jpg" data-original="assets/img/products/sunrise.jpg" style="background: url(&quotassets/img/products/sunrise.jpg&quot;) center center / contain no-repeat;"></div>
    <meta itemprop="image" content="assets/img/products/sunrise.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="assets/img/products/energy6.jpg" data-original="assets/img/products/energy6.jpg" style="background: url(&quotassets/img/products/energy6.jpg&quot;) center center / contain no-repeat;"></div>
    <meta itemprop="image" content="assets/img/products/energy6.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="assets/img/products/energy12.jpg" data-original="assets/img/products/energy12.jpg" style="background: url(&quotassets/img/products/energy12.jpg&quot;) center center / contain no-repeat;"></div>
    <meta itemprop="image" content="assets/img/products/energy12.jpg">
  </div>

</div>