<section id="profit" class="sc sc--profit profit">
  <div class="container">
    <h2 class="sc__heading">Что получают Ваши клиенты</h2>
    <ul class="flex-list flex-list--3">
      <li class="flex-list__item"><span class="num num--circle num--scolor">1</span>Комфорт и заботу</li>
      <li class="flex-list__item"><span class="num num--circle num--scolor">2</span>Повод зайти еще</li>
      <li class="flex-list__item"><span class="num num--circle num--scolor">3</span>Удобство</li>
    </ul>
    <h2 class="sc__heading">Что получаете Вы</h2>
    <ul class="flex-list flex-list--left flex-list--2">
      <li class="flex-list__item"><span class="num num--circle num--scolor">1</span>Лояльность клиентов</li>
      <li class="flex-list__item"><span class="num num--circle num--scolor">2</span>Эксклюзивность, новинку</li>
      <li class="flex-list__item"><span class="num num--circle num--scolor">3</span>12 месяцев гарантии</li>
      <li class="flex-list__item"><span class="num num--circle num--scolor">4</span>Бесплатные рекламные материалы</li>
      <li class="flex-list__item"><span class="num num--circle num--scolor">5</span>Зарядку с защитой от краж</li>
      <li class="flex-list__item"><span class="num num--circle num--scolor">6</span>Увеличение среднего чека и чаевых</li>
    </ul>
  </div>
</section>