<section id="profit" class="sc sc--profit profit">
  <div class="container">
    <div class="row col-merge">
      <div class="col-md-6 col-hide">
        <img src="assets/img/advantages.jpg" alt="">
      </div>
      <div class="col-md-6 col-on">
        <ul class="flex-list flex-list--dir-col">
          <li class="flex-list__item"><h2 class="sc__heading">Что получают Ваши клиенты</h2></li>
          <li class="flex-list__item">Комфорт и заботу</li>
          <li class="flex-list__item">Повод зайти еще</li>
          <li class="flex-list__item">Удобство</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section id="profit-company" class="sc sc--profit-company profit-company">
  <div class="container">
    <h2 class="sc__heading sc__heading--pad-t">Что получаете Вы</h2>
    <ul class="flex-list flex-list--sa flex-list-num flex-list--left flex-list--2">
      <li class="flex-list__item flex-list-num__item"><span class="num num--circle num--scolor">1</span>Лояльность клиентов</li>
      <li class="flex-list__item flex-list-num__item"><span class="num num--circle num--scolor">2</span>Эксклюзивность, новинку</li>
      <li class="flex-list__item flex-list-num__item"><span class="num num--circle num--scolor">3</span>12 месяцев гарантии</li>
      <li class="flex-list__item flex-list-num__item"><span class="num num--circle num--scolor">4</span>Бесплатные рекламные материалы</li>
      <li class="flex-list__item flex-list-num__item"><span class="num num--circle num--scolor">5</span>Зарядку с защитой от краж</li>
      <li class="flex-list__item flex-list-num__item"><span class="num num--circle num--scolor">6</span>Увеличение среднего чека и чаевых</li>
    </ul>
  </div>
</section>