<section id="shop" class="sc sc--shop shop">
  <div class="container">
    <h2 class="sc__heading">Наши решения:</h2>
    <div class="shop__list">

      <div class="shop__item item">
        <div class="item__wrapper">
          <div class="item__img">
            <img class="lazy" data-original="assets/img/products/Alphaf5.jpg" alt="ChargeLab ALFA small image">
          </div>
          <p class="item__title">ChargeLab ALFA</p>
          <div class="item__excerpt">
            <p>зарядная станция на 12 переносных устройств с уникальной рекламной площадкой</p>
          </div>
          <div class="item__meta"><b>для ресторанов, баров, кафе, ночных клубов, салонов красоты, спа-салонов, офисов, коворкингов, фитнес-центров</b></div>
          <a href="product.html" class="btn item__btn item__btn">Подробнее</a>
        </div>
      </div>
      <!--.shop__item -->

      <div class="shop__item item">
        <div class="item__wrapper">
          <div class="item__img">
            <img class="lazy" data-original="assets/img/products/plasma.jpg" alt="PLASMA small image">
          </div>
          <p class="item__title">ChargeLab PLASMA</p>
          <div class="item__excerpt">
            <p>настенная зарядная станция с LED-подсветкой и одновременной зарядкой до 4 телефонов</p>
          </div>
          <div class="item__meta"><b>для аэропортов, вокзалов, ТЦ, аквапарков, кинотеатров, залов ожидания, выставочных комплексов</b></div>
          <a href="product.html" class="btn item__btn">Подробнее</a>
        </div>
      </div>
      <!--.shop__item -->

      <div class="shop__item item">
        <div class="item__wrapper">
          <div class="item__img">
            <img class="lazy" data-original="assets/img/products/energy12.jpg" alt="ENERGY small image">
          </div>
          <p class="item__title">ChargeLab ENERGY 12</p>
          <div class="item__excerpt">
            <p>зарядная станция на 12 переносных устройств, лучшее соотношение цена-качество</p>
          </div>
          <div class="item__meta"><b>для ресторанов, кафе, ночных клубов, фитнес-центров, мероприятий</b></div>
          <a href="product.html" class="btn item__btn">Подробнее</a>
        </div>
      </div>
      <!--.shop__item -->

      <div class="shop__item item">
        <div class="item__wrapper">
          <div class="item__img">
            <img class="lazy" data-original="assets/img/products/plasma.jpg" alt="PLASMA small image">
          </div>
          <p class="item__title">ChargeLab PLASMA</p>
          <div class="item__excerpt">
            <p>настенная зарядная станция с LED-подсветкой и одновременной зарядкой до 4 телефонов</p>
          </div>
          <div class="item__meta"><b>для аэропортов, вокзалов, ТЦ, аквапарков, кинотеатров, залов ожидания, выставочных комплексов</b></div>
          <a href="product.html" class="btn item__btn">Подробнее</a>
        </div>
      </div>
      <!--.shop__item -->

      <div class="shop__item item">
        <div class="item__wrapper">
          <div class="item__img">
            <img class="lazy" data-original="assets/img/products/energy12.jpg" alt="ENERGY small image">
          </div>
          <p class="item__title">ChargeLab ENERGY 12</p>
          <div class="item__excerpt">
            <p>зарядная станция на 12 переносных устройств, лучшее соотношение цена-качество</p>
          </div>
          <div class="item__meta"><b>для ресторанов, кафе, ночных клубов, фитнес-центров, мероприятий</b></div>
          <a href="product.html" class="btn item__btn">Подробнее</a>
        </div>
      </div>
      <!--.shop__item -->

      <div class="shop__item item">
        <div class="item__wrapper">
          <div class="item__img">
            <img class="lazy" data-original="assets/img/products/plasma.jpg" alt="PLASMA small image">
          </div>
          <p class="item__title">ChargeLab PLASMA</p>
          <div class="item__excerpt">
            <p>настенная зарядная станция с LED-подсветкой и одновременной зарядкой до 4 телефонов</p>
          </div>
          <div class="item__meta"><b>для аэропортов, вокзалов, ТЦ, аквапарков, кинотеатров, залов ожидания, выставочных комплексов</b></div>
          <a href="product.html" class="btn item__btn">Подробнее</a>
        </div>
      </div>
      <!--.shop__item -->

      <div class="shop__item item">
        <div class="item__wrapper">
          <div class="item__img">
            <img class="lazy" data-original="assets/img/products/energy12.jpg" alt="ENERGY small image">
          </div>
          <p class="item__title">ChargeLab ENERGY 12</p>
          <div class="item__excerpt">
            <p>зарядная станция на 12 переносных устройств, лучшее соотношение цена-качество</p>
          </div>
          <div class="item__meta"><b>для ресторанов, кафе, ночных клубов, фитнес-центров, мероприятий</b></div>
          <a href="product.html" class="btn item__btn">Подробнее</a>
        </div>
      </div>
      <!--.shop__item -->

      

    </div>
  </div>
</section>