<section class="sc sc--welcome welcome">
  <div class="sc__overlay"></div>
  <div class="container">
    <h1 class="welcome__heading">Зарядные станции для мобильных телефонов, в HoReCa и другие заведения</h1>
    <div class="welcome__form-box">
      <p class="welcome__p">Если Вам интересно узнать больше, оставьте заявку</p>
      <form class="form form--flex welcome__form" action="action-order.php" method="POST">
        <input class="input welcome__input input--big" type="text" name="client-email" placeholder="Ваш E-mail">
        <input class="btn" type="submit" value="Отправить заявку">
      </form>
    </div>
  </div>
</section>