.header {
  position: fixed;
  width: 100%;
  background: #f7f7f7;
  opacity: 0.9;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10;

  &__link {
    color: $primary_color;
  }

  &__cbtn {
    display: flex;
    font-size: 1.3rem;
    background: $primary_color;
    padding: 0.7rem 2rem 0.7rem 1rem;
    color: $color_white;
    align-items: center;
    transition: color .3s;

    @include media-breakpoint-down(sm) {
			padding-right: 0;
		}

    &:hover {
      color: $secondary_color;
    }

    .cbtn__div {

      span {
        display: block;

        @include media-breakpoint-down(sm) {
          display:none;
        }
      }
    }

    .ch-icon {
      font-size: 3rem;
      margin-right: 1rem;
    }

  }

  &__burger {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__nav {
    display: block;
    flex: 1;
    
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &__meta {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-right: 2rem;
  }

  @include media-breakpoint-down(sm) {
    justify-content: center;
    margin-right: 0;
    padding-top: 0rem;
    margin-top: 1rem;
  }
}

  &__menu {
    @extend .row;
    @extend .no-gutters;
    justify-content: space-between;
  }

  &__tel {
    margin: 0 1rem;
  }
}

.logo {
	width: 20rem;

  @include media-breakpoint-down(sm) {
    width: 14rem;
  }

	&__img {
		display: block;
	}
}

.menu {
  margin-left: 3rem;
  margin-right: 3rem;

  &__item {
    padding-left: 0;
    margin-right: 1rem;
  }
}

.social {

  &__item {
    font-size: 2.6rem;
    @extend .menu__item;
  }
}