.header {
  position: fixed;
  width: 100%;
  background: #f7f7f7;
  opacity: 0.9;
  padding: 1rem 0;
  font-size: 1.6rem;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 10;

  &__link {
    color: $primary_color;
  } 

  &__burger {
    display: none;

    @include media-breakpoint-down(md) {
      display: block;
    }
  }

  &__nav {
    display: block;
    flex: 1;
    
    @include media-breakpoint-down(md) {
      display: none;
    }
  }
  
  &__meta {
  display: flex;
  align-items: center;

  @include media-breakpoint-down(md) {
    margin-left: auto;
    margin-right: 2rem;
  }
}

  &__menu {
    @extend .row;
    @extend .no-gutters;
    justify-content: space-between;
  }

  &__tel {
    margin: 0 1rem;
  }
}

.logo {
	width: 20rem;

	&__img {
		display: block;
	}
}

.menu {
  margin-left: 5rem;
  margin-right: 5rem;

  &__item {
    padding-left: 0;
  }
}

.social {

  &__item {
    font-size: 2.6rem;
    @extend .menu__item;
  }
}