html {
	font-size: $font-size-base;
	-webkit-font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
}

body {
	position: relative;
	min-height: 100vh;
	min-height: calc(100vh-20px);
	@include font-size(24px);
	line-height: 1.3;
	font-weight: 400;
	color: $primary_color;
	@include media-breakpoint-down(sm) {
		@include font-size(20px);
	}
}

#main {
	overflow: hidden;
}

.page #main, .single #main {
	@extend %after-heading-block;
}

h2,
.h2 {
	font-weight: 400;
	font-size: 3.5rem;
	line-height: 1.15;
	color: $secondary_color;
	@include media-breakpoint-down(sm) {
		font-size: 3.3rem;
	}
}

h3,
.h3 {
	font-weight: 600;
	font-size: 4rem;
	line-height: 1.2;
	color: $primary_color;
	@include media-breakpoint-down(sm) {
		font-size: 2.6rem;
	}
}

h4,
.h4 {
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 2rem;
	color: $primary_color;
	text-transform: uppercase;
}

p {
	font-weight: 300;
	margin-bottom: 2rem;
}

a {
	color: $secondary_color;
	text-decoration: none;
}

a:hover {
	color: $secondary_color_darken;
}

strong,
b,
.strong {
	font-weight: 600;
}

.img--responsive {
	width: 100%;
}

.container {

	&--fullh {
		height: 100%;
	}
}

.wrap {
	display: block;
	max-width: 124rem;
	margin: 0 auto;
	position: relative;
	padding-left: 4rem;
	padding-right: 4rem;
	&--grid {
		font-size: 0;
		&> :not(&) {
			font-size: 1.6rem;
		}
	}
}

ul {
	li {
		position: relative;
		padding-left: 2.4rem;
	}
}

.text-center {
	text-align: center;
}

.sc {
	padding-top: 4rem;
	padding-bottom: 6rem;

	&--line {
		border-top: .1rem solid $primary_color;
		border-bottom: .1rem solid $primary_color;
    padding: 2rem 0 1rem;
	}

	&__overlay {
		background: rgba(0, 0, 0, 0.7);
		position: absolute;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
	}

	&__overlay--light {
		background: linear-gradient(to bottom, rgba(204,196,196,0.50), rgba(148,148,148,0.50))
	}

	&__overlay+div {
		position: relative;
		z-index: 2;
	}
	&__heading {
		text-align: center;
		padding: 2rem 0 4rem;

		&--cprimary {
			color: $primary_color;
		}

		&--csecondary {
			color: $secondary_color;
		}

		&--pad-t {
			padding-top: 6rem;
		}

		&--pad-b-low {
			padding-bottom: 3rem;
		}

		&--h4 {
			font-size: 2.6rem;
		}

	}
	&__sub-heading {
		text-align: center;
		padding: 0rem 0 2rem;
		margin-top: -3rem;
	}
	&__block-c {
		text-align: center;
	}
}

.form {
	&--flex {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__heading {
		font-size: 2rem;
		color: $color_white;
		text-transform: uppercase;
		font-weight: 600;
		letter-spacing: .05rem;
		&--huge {
			font-size: 2.8rem;
		}
	}
}

.input {
	font-size: 1.6rem;
	color: $primary_color;
	border: .2rem solid $color_white;
	background-color: $color_white;
	border-radius: .3rem;
	padding: 1rem;
}

.flex-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;

	&--sa {
		justify-content: space-around;
	}

	&--sa-i &__item {

		@include media-breakpoint-up(md) {
			justify-content: center;
		}
	}

	&__item {
		text-align: center;
		padding: 2rem 0 1rem;
		margin-top: 1rem;
	}

	&--4 > &__item {
		flex: 0 0 25%;
		@include media-breakpoint-down(md) {
			flex: 0 0 50%;
		}
		@include media-breakpoint-down(sm) {
			flex: 0 0 100%;
		}
	}

	&--3 > &__item {
		flex: 0 0 33.3%;
		@include media-breakpoint-down(md) {
			flex: 0 0 50%;
		}
		@include media-breakpoint-down(sm) {
			flex: 0 0 100%;
		}
	}
	&--2 > &__item {
		flex: 0 0 50%;
		@include media-breakpoint-down(sm) {
			flex: 0 0 100%;
		}
	}

	&--dir-col {
		flex-direction: column;
		height: 100%;
	}

	&--dir-col &__item {
		padding-top: 0.2rem;
		margin-top: 0;
	}

	&--icons {
		font-size: 2rem;
		p {
			text-transform: uppercase;
			font-weight: 600;
		}
		.ch-icon {
			font-size: 2.3em;
			margin-bottom: 2rem;
		}
	}
	&--left &__item {
		text-align: left;
	}
}

.num {
	position: relative;
	color: $color_white;
	margin: 2rem 4rem;
	font-size: 0.8em;
	display: inline-block;

	@include media-breakpoint-down(sm) {
		display: block;
		flex: 1;
		text-align: center;
	}
	
	&:before {
		content: '';
		display: inline-block;
		position: absolute;
		background: $primary_color;
		width: 6rem;
		height: 6rem;
		z-index: -1;
		top: 50%;
		left: 50%;
		transform: translateX(-50%) translateY(-50%);
		border-radius: 50%;
	}
	&--scolor {
		color: $primary_color;
		&:before {
			background: $secondary_color;
		}
	}
}

.flex-list-num {
	&__item {
		display: flex;
		align-items: center;
		margin-bottom: 2rem;
		@include media-breakpoint-down(sm) {
			margin: 0;
			padding: 2rem 6rem;
		}
		@include media-breakpoint-down(sm) {
			display: block;
			text-align: center!important;
			padding: 2rem 0rem;
		}
	}
}

.flex-table {
	font-size: 1.6rem;
	border: 1px solid #ebeaea;
	padding: 2rem 0;
	margin: 2rem 0;
}

.breadcrumbs {
	font-size: 1.7rem;
	padding-bottom: 2rem;
}

.row-pdf {
	background: $light_color;
	font-size: 3rem;
	text-align: center;
}

.sc--row-pdf {
	padding-bottom: 4rem;
}

.show-more {
	font-size: 1.6rem;
	&>span {
		display: inline-block;
		font-weight: 600;
		color: $secondary_color;
		cursor: pointer;
		padding: .5rem 2rem;
		border: .2rem solid $secondary_color;
		text-transform: uppercase;
		margin: 1rem 0;
	}
	&>div {
		display: none;
	}
}


@include media-breakpoint-down(sm) {
	.hide-xs {
		display: none!important;
	}
}

.col-merge {
	position: relative;

	.col-hide {

		@include media-breakpoint-down(sm) {
			display: none;
		}
	}

	.col-on {

		@include media-breakpoint-up(md) {
			background-image: none!important;
		}

		@include media-breakpoint-down(sm) {
			background-size: cover;
			padding: 0;

			.flex-list {
					background: rgba(255,255,255,0.5);
					padding: 2rem;

				&__item::before {
					content: '';
					display: block;
					margin: auto;
					background: $secondary_color;
					width: 1rem;
					height: 1rem;
					border-radius: 50%;
				}

				&__item:nth-child(1)::before {
					display: none;
				}
			}
		}
	}
}