<div class="sc sc--about about">
  <div class="container">
    <div class="sc__block-c">
      <p>Вы мечтаете о собственном бизнесе, но не можете найти идею?</p>
      <p>Вы хотите быстро начать свое дело, но не хватает опыта и времени?</p>
      <p><strong>Мы поможем – выгодная и лояльная франшиза от ChargeLab</strong></p>
      <p><b>ChargeLab</b> - универсальные зарядные устройства для мобильных телефонов.
      Используются в бизнесе и местах общего пользования</p>
    </div>
  </div>
</div>