<section id="franchise" class="sc sc--describe describe">
  <div class="container">
    <h2 class="sc__heading">В ПАКЕТ ФРАНШИЗЫ ВХОДИТ:</h2>
    <p class="sc__sub-heading">Готовая бизнес-модель. Покупай и работай!</p>
    <ul class="describe__list flex-list flex-list--4 flex-list--icons">
      <li class="flex-list__item">
        <i class="ch-icon ch-icon-star" aria-hidden="true"></i>
        <p>Франшиза</p>
      </li>
      <li class="flex-list__item">
        <i class="ch-icon ch-icon-browser" aria-hidden="true"></i>
        <p>Сайт</p>
      </li>
      <li class="flex-list__item">
        <i class="ch-icon ch-icon-battery-half" aria-hidden="true"></i>
        <p>Продукция бренда Chargelab</p>
      </li>
      <li class="flex-list__item">
        <i class="ch-icon ch-icon-battery-half" aria-hidden="true"></i>
        <p>Складские запасы</p>
      </li>
      <li class="flex-list__item">
        <i class="ch-icon ch-icon-battery-half" aria-hidden="true"></i>
        <p>Сервисная поддержка</p>
      </li>
      <li class="flex-list__item">
        <i class="ch-icon ch-icon-battery-half" aria-hidden="true"></i>
        <p>Маркетинговая поддержка</p>
      </li>
      <li class="flex-list__item">
        <i class="ch-icon ch-icon-battery-half" aria-hidden="true"></i>
        <p>Инструкции по работе с клиенатами</p>
      </li>
      <li class="flex-list__item">
        <i class="ch-icon ch-icon-battery-half" aria-hidden="true"></i>
        <p>Финансовая модель</p>
      </li>
    </ul>
  </div>
</section>