<section id="gallery" class="sc sc--gallery gallery">
  <div class="coverer">
    <h2 class="sc__heading h3">ChargeLab успешно представил свою франшизу на выставке "Франчайзинг 2017" (21-23/02/17)</h2>
  </div>
  
  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="/assets/img/franchise/franchise201702-001.jpg" data-original="/assets/img/franchise/franchise201702-001.jpg" style="background: url(&quot;/assets/img/franchise/franchise201702-001.jpg&quot;) center center / cover no-repeat;"></div>
    <meta itemprop="image" content="/assets/img/franchise/franchise201702-001.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="/assets/img/franchise/franchise201702-002.jpg" data-original="/assets/img/franchise/franchise201702-002.jpg" style="background: url(&quot;/assets/img/franchise/franchise201702-002.jpg&quot;) center center / cover no-repeat;"></div>
    <meta itemprop="image" content="/assets/img/franchise/franchise201702-002.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="/assets/img/franchise/franchise201702-003.jpg" data-original="/assets/img/franchise/franchise201702-003.jpg" style="background: url(&quot;/assets/img/franchise/franchise201702-003.jpg&quot;) center center / cover no-repeat;"></div>
    <meta itemprop="image" content="/assets/img/franchise/franchise201702-003.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="/assets/img/franchise/franchise201702-004.jpg" data-original="/assets/img/franchise/franchise201702-004.jpg" style="background: url(&quot;/assets/img/franchise/franchise201702-004.jpg&quot;) center center / cover no-repeat;"></div>
    <meta itemprop="image" content="/assets/img/franchise/franchise201702-004.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="/assets/img/franchise/franchise201702-005.jpg" data-original="/assets/img/franchise/franchise201702-005.jpg" style="background: url(&quot;/assets/img/franchise/franchise201702-005.jpg&quot;) center center / cover no-repeat;"></div>
    <meta itemprop="image" content="/assets/img/franchise/franchise201702-005.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="/assets/img/franchise/franchise201702-006.jpg" data-original="/assets/img/franchise/franchise201702-006.jpg" style="background: url(&quot;/assets/img/franchise/franchise201702-006.jpg&quot;) center center / cover no-repeat;"></div>
    <meta itemprop="image" content="/assets/img/franchise/franchise201702-006.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="/assets/img/franchise/franchise201702-007.jpg" data-original="/assets/img/franchise/franchise201702-007.jpg" style="background: url(&quot;/assets/img/franchise/franchise201702-007.jpg&quot;) center center / cover no-repeat;"></div>
    <meta itemprop="image" content="/assets/img/franchise/franchise201702-007.jpg">
  </div>

  <div class="gallery__item" itemscope="" itemtype="http://schema.org/ImageObject">
    <div class="gallery__image" data-img-zoom-url="/assets/img/franchise/franchise201702-008.jpg" data-original="/assets/img/franchise/franchise201702-008.jpg" style="background: url(&quot;/assets/img/franchise/franchise201702-008.jpg&quot;) center center / cover no-repeat;"></div>
    <meta itemprop="image" content="/assets/img/franchise/franchise201702-008.jpg">
  </div>

</section>