<section id="how-we-work" class="sc sc--employment employment">
  <div class="container">
    <h2 class="sc__heading">КАК МЫ РАБОТАЕМ</h2>
    <ul class="flex-list-num">
      <li class="flex-list-num__item"><span class="num num--circle">1</span>Оставьте заявку на сайте, напишите запрос на наш электронный ящик или позвоните (044) 228 09 60</li>
      <li class="flex-list-num__item"><span class="num num--circle">2</span>Наш менеджер свяжется с Вами в ближайшее время, ответит на все Ваши вопросы и подберет пакет франшизы, подходящий именно Вам</li>
      <li class="flex-list-num__item"><span class="num num--circle">3</span>Оформит заказ и предоставит маркетинговые, финансовые и другие инструкции по успешному ведению бизнеса</li>
      <li class="flex-list-num__item"><span class="num num--circle">4</span>Обеспечит послепродажную поддержку</li>
    </ul>
  </div>
</section>