<section id="profit" class="sc sc--profit profit">
  <div class="container">
    <h2 class="sc__heading">Целевая аудитория бизнеса</h2>
    <ul class="describe__list flex-list flex-list--3">
      <li class="flex-list__item">Рестораны</li>
      <li class="flex-list__item">Кафе / бары</li>
      <li class="flex-list__item">Ночные клубы</li>
      <li class="flex-list__item">Автосалоны</li>
      <li class="flex-list__item">Фитнес-центры</li>
      <li class="flex-list__item">Отели</li>
      <li class="flex-list__item">Выставки</li>
      <li class="flex-list__item">Торговые центры</li>
      <li class="flex-list__item">Коворкинги</li>      
    </ul>
  </div>
</section>