<section class="sc sc--welcome welcome welcome--fr">
  <div class="sc__overlay sc__overlay--light"></div>
  <div class="container container--fullh">
    <div class="welcome__cblock">
      <p class="welcome__top-text">Узнай как построить бизнес на новом продукте, которому нет аналогов</p>
      <div class="welcome__center-text ctext">
        <h1 class="ctext__block ctext__heading">
          <span>ВЫГОДНАЯ</span> 
          <span>ФРАНШИЗА</span> 
          <span>ChargeLab</span>
        </h1>
        <p class="ctext__block ctext__subheading">для прогрессивных людей</p>
      </div>
      <p class="welcome__bottom-text">ChargeLab - универсальные зарядные устройства для бизнеса</p>
    </div>
  </div>
</section>