<section id="why" class="sc sc--why why">
  <div class="container">
    <h2 class="sc__heading">ПОЧЕМУ ChargeLab</h2>
    <div class="row">
      <div class="col-sm-6">
        <ul class="flex-list flex-list--dir-col">
          <li class="flex-list__item">Выгодно</li>
          <li class="flex-list__item">Востребовано</li>
          <li class="flex-list__item">WOW-эффект</li>
          <li class="flex-list__item">Свободный рынок от конкурентов</li>
        </ul>
      </div>
      <div class="col-sm-6">
        <div class="why__image">
          <img src="./assets/img/products/alfa.jpg" alt="chargelab battery packs picture">
        </div>
      </div>
    </div>
  </div>
</section>