<header id="header" class="header">
	<div class="container">
		<div class="row no-gutters row--j-sb row--a-c">
			<a href="/" class="header__logo logo">
				<img src="./assets/img/logo.png" class="logo__img" alt="logo">
			</a>

			<nav class="header__nav" role="navigation">
				<ul class="header__menu menu">
					<li class="menu__item"><a class="header__link menu__link page-scroll" href="#about">О нас</a></li>
					<li class="menu__item"><a class="header__link menu__link page-scroll" href="#franchise">Франшиза</a></li>
					<li class="menu__item"><a class="header__link menu__link page-scroll" href="#how-we-work">Как мы работаем</a></li>
					<li class="menu__item"><a class="header__link menu__link page-scroll" href="#contacts">Контакты</a></li>
				</ul>
			</nav>

			<div class="header__meta">
				<div class="header__tel header__item">
					<a href="tel:+380442280960" class="header__link">+38 (044) 228 09 60</a>
				</div>

				<ul class="social">
					<li class="social__item">
						<a href="https://www.facebook.com/ChargeLab-380238082347180/" class="header__link" target="_blank">
							<i class="ch-icon ch-icon-facebook-circled" aria-hidden="true"></i>
						</a>
					</li>
				</ul>
			</div>

			<button class="burger header__burger">
				<span></span>
				<span></span>
				<span></span>
			</button>
		</div>
	</div>
</header>